<!--
 ____________________________________________________________
|                                                            |
|    DESIGN + Employee  { Display Employee list }            |
|      DATE + 2009.02.27                                     |
| COPYRIGHT + allweb company                                 |
|____________________________________________________________|

-->
{% extends 'master.html' %}
{% block content %}<!-- 
<link rel="stylesheet" href="/site_media/javascripts/resources/css/ext-all.css" type="text/css" />
<script src="/site_media/javascripts/ext-base.js" type="text/javascript" language="javascript"></script>
<script src="/site_media/javascripts/ext-all.js" type="text/javascript"  language="javascript"></script>  -->  
<script>
//------------------------------------------------Initialize EXTJS --------------------------------------//
	var windowForm;
	var form;
    var tree;
    Ext.onReady(function(){     
        Ext.QuickTips.init();      
      	createTree();      	    	
    });

//----------------------------------------------- Create Tree of Company Structure ----------------------//
    function createTree()
    {     
	    var Tree = Ext.tree;    
	    var tree = new Tree.TreePanel({
	        el:'tree-div',
	        useArrows:true,
	        autoScroll:true,
	        animate:true,
	        enableDD:true,
	        containerScroll: true, 
	        loader: new Tree.TreeLoader({
	            dataUrl:'/treedata/{{ id }}/'
	        })
	        
	    });
	
	    // set the root node
	    var root = new Tree.AsyncTreeNode({
	        text: '{{ name }} Company',
	        draggable:false,
	        id:'company@@@{{ id }}'
	    });
	    tree.setRootNode(root);	    
	    // render the tree
	    tree.render();
	    root.expand();	    
	    tree.getSelectionModel().on({'selectionchange' : function(sm, node){
    	if(node){
      		lnkselect(node);
       	}
    	},
    	scope:this
    	});
   	}
   	function lnkselect(node){   	       	   
		arr_data = node.id.split("@@@");		
		var req = Ext.Ajax.request(
       	{
	   		method: 'POST',
	   		url: '/viewdetail/',
	   		params: {objType: arr_data[0], objId: arr_data[1]},	   
	   		failure:function(response, options)
	   		{
	       		alert('not ' + response.text);
		    },
		    success: test
       	}       	
       	);      
	}	
	function test(response,options) {
	    document.getElementById("detail_data").innerHTML = response.responseText;
	    //alert(response.responseText);
	}
	function beforeDelete(){
		return confirm('Are you sure to delete this department?');
	}
</script>           
<table>
<tr>
	<td><div id="tree-div" style="overflow:auto; height:300px; width:250px; border:1px solid #c3daf9;"></div></td>		
	<td valign="top"><div id="detail_data"></div></td>
</tr>
</table>
{% endblock %}
{% block footer %}
<center> 
  <a href="http://www.allweb.com.kh">ALLWEB </a> © 2004-2009 Allweb
</center>
{% endblock %}